@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255,255,0.5);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}
header .logo
{
    color: #7a3ae7;
    font-weight: 600;
    text-decoration: none;
    font-size: 2em;
}
header ul
{
display: flex;
}
header ul li 
{
    list-style: none;
    margin: 0 10px;
}
header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #7a3ae7;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover,
header ul li a.active{
    color: #f2f2f2;  
    border: #f2f2f2 solid 2px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    box-shadow:  0 5px 10px rgba(0,0,0,0.1);
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    border-radius: 20px;
    backdrop-filter: blur(10px);

  }
  
  /* Style the back side */
  .flip-card-back {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    backdrop-filter: blur(10px);
  }

  .flip-card-front h1
  {
     color: #fff;
     font-size: 15px;
     font-weight: 500;
     padding-top: 10px;
     padding-right: 150px;
  }

  .flip-card-back h2
  {
     font-size: 15px;
     font-weight: 500;
     padding-top: 10px;
     padding-right: 150px;
  }

  .flip-card-back h3
  {
     font-size: 20px;
     font-weight: 500;
     padding-top: 50px;
     word-spacing: 10px;
  }

  .flip-card-back h4
  {
    font-size: 20px;
    font-weight: 500;
    padding-top: 60px;
    padding-left: 200px;
  }

  .flip-card-back p
  {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-right: 180px;
   
  }